body {
    margin-top: 50px;
}
  
p, ol, li {
    font-family: 'Roboto', sans-serif;
}
  
h1, h2, h4 {
    font-family: 'Cutive Mono', monospace;
}

.center-image {
    margin: 0 auto;
    display:block;
}

.caption {
    text-align: center;
    font-size: 15px;
}

.ex1 {
    width: 900px;
    margin: auto;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5px;
}

div, iframe {
    margin: 0 auto;
    display:block;
}

footer {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    padding: 3px;
    font-size: 10px;
}